@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .mobile-disappear {
        display: none;
    }
    #header {
        border-bottom: none;
    }
    .mobile-search-bar {
        visibility: visible;
        /* border: 1px solid black; */
        width: 100%;
        height: 6vh;
        border-radius: 25px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        /* box-shadow: -2px 2px 2px rgb(189, 189, 189); */
        box-shadow: 0px 0px 2px 1px rgb(189, 189, 189);
        margin-top: 10px;
    }
    .mobile-search-bar>.flex-left {
        margin-left: 1em;
    }
    .mobile-search-bar>.flex-left button {
        margin-left: 1em;
        font-size: 16px;
        color: rgb(20, 20, 20);
        font-weight: 300;
    }
    .mobile-search-bar>.flex-left i {
        color: rgb(20, 20, 20);
    }
    .mobile-search-bar>.flex-right {
        margin-right: 0.5em;
    }
    .mobile-search-bar>.flex-left>button,
    .mobile-search-bar>.flex-right>button {
        background-color: white;
        border: none;
    }
    .mobile-search-bar>.flex-right>button {
        border-radius: 50px;
        border: 1px solid rgb(177, 171, 171);
        padding: 10px 12.5px;
    }
    #listing {
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
    .house-container {
        margin-bottom: 25px;
    }
    #showMap {
        left: 35%;
    }
    #showMap:hover {
        left: 34.5%;
    }
    #navbar2 {
        padding: 0;
    }
    .each-option {
        margin-right: 30px;
    }
    #margin-top {
        margin-top: 3em;
    }
    #continueExploring {
        display: none;
    }
    footer {
        display: none;
    }
}